
contrib/*/*
.idea
*.iml
.git
**/.git

log
node_modules
test
VIP_API
wado

sites

modules/conference
modules/cqmsolution
modules/dbmanager
modules/dental
modules/drugtodrugtoallergy
modules/faxplus
modules/kairos
modules/kiosk
modules/laboratory
modules/meditech
modules/messaging
modules/phimail
modules/phrmessenger
modules/ramsoft
modules/telnyx
modules/waitingmed






