.idea
sites/*/*
temp/*
GaiaEHR
GaiaEHR.iml
gaiaehr.iml
contrib/snomed/*
contrib/rxnorm/*
/modules/advancetasks
/modules/appointments
/modules/phimail
/modules/drugtodrugtoallergy
/modules/erx
/modules/reportcenter/reports/AutomatedMeasureCalculation
