.idea
sites/*/*
temp/*
GaiaEHR.iml
gaiaehr.iml
mdTimeLine EHR.iml
contrib/snomed/*
contrib/rxnorm/*
contrib/forms/*
contrib/dsmiv/*
contrib/icd9/*
contrib/icd10/*
/modules/advancetasks
/modules/appointments
/modules/phimail
/modules/drugtodrugtoallergy
/modules/erx
/modules/phrmessenger
/modules/reportcenter/reports/AutomatedMeasureCalculation
/modules/billing/
/modules/dental/
