.idea
sites/*/*
temp/*
lib/Matcha/cache/*
GaiaEHR.iml
gaiaehr.iml
mdTimeLine EHR.iml
contrib/snomed/*
contrib/rxnorm/*
contrib/forms/*
contrib/dsmiv/*
contrib/icd9/*
contrib/icd10/*
/modules/advancetasks
/modules/appointments
/modules/phimail
/modules/drugtodrugtoallergy
/modules/erx
/modules/phrmessenger
/modules/reportcenter/reports/AutomatedMeasureCalculation
/modules/billing/
/modules/dental/
/modules/conference/
/modules/cqmsolution/
/modules/kiosk/
/modules/laboratory/
/modules/messaging/
/modules/powerbi/
/modules/quickmedical/
/modules/ringcentral/
/modules/speechtotext/
/modules/mobileapp/
/modules/twilio/
/modules/worklist/
